.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: goldenrod;
  padding: 18px;
  margin-bottom: 10px;
}

.Nav-link, .DogList-name {
  text-decoration: none;
  color: black;
}

.Nav-title {
  font-size: 2em;
  text-decoration: none;
  color: black;
  margin-left: -60px;
}

.DogList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.DogList-container {
  background-color: goldenrod;
  padding: 30px;
  border-radius: 4px;
}

.DogList-container:hover {
  transition: .3s ease-in-out;
  transform: scale(1.05);
}

.DogList-name {
  font-size: 2em;
}

.DogList-name:hover, .Nav-title:hover, .Nav-link:hover {
  color: white;
}

.DogDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black dashed;
  padding: 20px;
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
}

